.containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  text-align: center;
  min-height: 500px;
}

.hero {
  max-width: 200px;
}

.containerr span {
  display: flex;
  gap: 25px;
  justify-content: center;
}

span a img {
  width: 30px;
}

.fa-icons {
  padding-bottom: 5px;
  border: 3px solid var(--background-color);
}

.fa-icons:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid var(--text-color);
}

a {
  width: fit-content;
  align-self: center;
}

.description {
  max-width: 24ch;
  text-align: center;
  margin: 0 auto;
  height: 80px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding-top: 20px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstName {
  font-size: 42px;
  font-weight: bold;
}

.lastName {
  font-size: 42px;
  font-weight: bold;
}

.typed-cursor {
  font-weight: bold;
  animation: blink 0.7s step-end infinite;
  color: var(--text-color);
}

@media (max-width: 800px) {
  .containerr {
    margin-top: -35px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 800px) {
  .containerr {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .containerr .hero {
    max-width: 350px;
    width: 350px;
  }
}

@media (min-width: 1400px) {
  .containerr .hero {
    max-width: 400px;
    width: 400px;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
