.projectsContainer {
  display: grid;
  gap: 20px;
  padding-top: 40px;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .projectsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .projectsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
