.project-card {
  width: 22rem;
  border: 1px solid #ddd;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 25px;
  transition: transform 0.3s ease-in-out;
  height: 485px;
  transition: 0.5s;
  justify-content: center;
}

.project-card-img-container {
  position: relative;
  width: 380px;
  height: 280px;
  overflow: hidden;
  margin: 0px !important;
  justify-content: center;
}

.project-card-img {
  width: 100%;
  height: auto;
  justify-content: center;
  min-block-size: -webkit-fill-available;
  transition: transform 1.5s;
}
.project-card:hover .project-card-img {
  transform: translateY(-730px);
}

.project-card-body {
  padding: 15px;
}

.project-card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: none;
  text-align: center;
}

.project-card-description {
  font-size: 1rem;
  margin-bottom: 20px;
  font-family: "arial";
  font-weight: lighter;
  padding-top: 5px;
  height: 75px;
}

.project-card-links a {
  font-size: 1.5rem;
  margin-right: 10px;
  text-decoration: none;
}

.fa-icon:hover {
  transform: translateY(-3px);
}
@media (max-width: 800px) {
  .project-card {
    width: 19.5rem;
  }
  .project-card-description {
    margin-bottom: 25px;
  }
  .project-card-title {
    margin-bottom: 7px;
  }
  .project-card-img-container {
    width: 100%;
  }
  .project-card:hover .project-card-img {
    transform: translateY(-485px);
  }
}
