#skills {
  text-align: center;
}

.skills-header h2 {
  margin-bottom: 40px;
}

.skills-title {
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
}

.skills-subtitle {
  font-size: 1.1rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  padding: 050px;
}

.skill-card {
  width: 120px;
  height: 120px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--pcbbg);
}

.skill-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.skill-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
}

@media (max-width: 400px) {
  .skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
